html, body{
    height: 100%;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100%;
    font-family: "Roboto", sans-serif;
    background-color: #8c92ac;
    color: white;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #49416d;
    background: linear-gradient(to bottom, #49416d, #8c92ac);
}

.body-container{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 25px;
    background-color: #49416d;
    background: linear-gradient(to bottom, #8c92ac,#49416d);
}

.run-card{
    border: 2px solid #49416d;
    border-radius: 12px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px #49416d;
}

#website-logo{
    width: 70px;
}

.left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#showDialog{
    background-color: white;
}

button{
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover{
    background-color: #8c92ac;
    transform: scale(1.05);
}

dialog{
    border: 2px solid #49416d;
    border-radius: 12px;
    margin-top: 20px;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px #49416d;
}

